@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1F2937;
    padding: 0 64px 64px 64px;
}

.heroTop {
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.heroBottom {
    width: 100%;
    margin-top: 64px;
    display: flex;
}

.heroLeft {
    width: 50%;
    padding-right: 24px;
}

.heroHeader {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.heroSubtext {
    color: #E5E7EB;
    font-size: 18px;
}

.topSignUp {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    margin: 8px 0;
}

.heroRight {
    background-color: grey;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageText {
    font-size: 18px;
    color: white;
}

.informationBackground {
    padding: 0 64px;
}

.quoteBackground {
    background-color: #E5E7EB;
    padding: 0 64px;
}

.quote {
    font-family: 'light italic';
    font-size: 36px;
    color: #1F2937;
}

.signUpBackground {
    background-color: #3882F6;
    padding: 0 64px;
}


.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 0 auto;
}